In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
titanic=sns.load_dataset("titanic")
titanic.to_csv('titanic.csv',index=False)

In [ ]:
titanic.isnull().sum()

In [ ]:
titanic['age']=titanic['age'].fillna(titanic['age'].median())

In [ ]:
titanic['embarked'].value_counts()

In [ ]:
titanic['embarked']=titanic['embarked'].fillna('S')

In [ ]:
titanic['embarked'].value_counts()

In [ ]:
titanic['embark_town'].value_counts()

In [ ]:
titanic['embark_town']=titanic['embark_town'].fillna('Southampton')

In [ ]:
titanic['embark_town'].value_counts()

In [ ]:
titanic['deck'].value_counts()

In [ ]:
titanic['deck']=titanic['deck'].fillna('C')

In [ ]:
titanic.isnull().sum()

In [ ]:
titanic.info()

In [ ]:
titanic.survived.value_counts()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
f,ax=plt.subplots(1, 2, figsize=(10,5))
titanic['survived'][titanic['sex']=='male'].value_counts().plot.pie(explode=[0,0.1],autopct='%1.1f%%',ax=ax[0],shadow=True)
titanic['survived'][titanic['sex']=='female'].value_counts().plot.pie(explode=[0,0.1],autopct='%1.1f%%',ax=ax[1],shadow=True)
ax[0].set_title('Survived (Male)')
ax[1].set_title('Survived (Female)')
plt.show()

In [ ]:
sns.countplot(x='pclass', hue='survived', data=titanic)
plt.title('Pclass vs Survived')
plt.show()

In [ ]:
titanic_corr=titanic.corr(method='pearson')
titanic_corr
titanic_corr.to_csv('titanic_corr.csv', index=False)

In [ ]:
titanic_corr

In [ ]:
titanic['survived'].corr(titanic['adult_male'])

In [ ]:
titanic['survived'].corr(titanic['fare'])

In [ ]:
sns.catplot(x='pclass', y='survived', hue='sex', data=titanic, kind='point')
plt.show()

In [ ]:
def category_age(x):
    if x < 10:
        return 0
    elif x < 20:
        return 1
    elif x <30:
        return 2
    elif x < 40:
        return 3
    elif x < 50:
        return 4
    elif x < 60:
        return 5
    elif x < 70:
        return 6
    else:
        return 7

In [ ]:
titanic['age2']=titanic['age'].apply(category_age)
titanic['sex']=titanic['sex'].map({'male':1, 'female':0})
titanic['family']=titanic['sibsp']+titanic['parch']+1
titanic.to_csv('titanic3.csv', index=False)

In [ ]:
heatmap_data=titanic[['survived', 'sex', 'age2', 'family', 'pclass', 'fare']]
colormap=plt.cm.RdBu
sns.heatmap(heatmap_data.astype(float).corr(), linewidths=0.1, vmax=1.0, square=True, cmap=colormap, linecolor='white', annot=True, annot_kws={"size": 10})
plt.show()