In [12]:
val = int(input("숫자를 입력하시오 : "))
if val >= 90:
    print("A")
elif val >=80  :
    print("B")
elif val >=70  :
    print("C")
elif val >=60  :
    print("D")
else  :
    print("F")

숫자를 입력하시오 : 70
C

In [36]:
# 두 과목의 점수를 입력받아 평균을 구하고 한과목이라도 과락이 생기면 아웃
# 과락된 과목명도 출력하세요

val1 = int(input("첫 번째 과목 점수를 입력하시오 : "))
val2 = int(input("두 번째 과목 점수를 입력하시오 : "))

mean = (val1 + val2) /2

if val1 < 60 or val2 < 60:
    if val1 < 60:
        print("첫 번째 과목이 과락입니다.")
    else :
        print("두 번째 과목이 과락입니다.")
    
else :
    if mean >= 90:
        print("A")
    elif mean >=80  :
        print("B")
    elif mean >=70  :
        print("C")
    elif mean >=60  :
        print("D")
    else  :
        print("F")

첫 번째 과목 점수를 입력하시오 : 50
두 번째 과목 점수를 입력하시오 : 90
첫 번째 과목이 과락입니다.

In [127]:
dat=[10,20,30,40,50,60,70,80,90]
key = int(input("찾고자하는 숫자를 입력하시오  "))
start = 0
end_s = len(dat) 
end = end_s
find = 0
mid = 0
# while start < end and mid != end_s - 1:
while start < end :
    mid =  int((start + end) / 2)
    if dat[mid] == key:
        print("%d 번째에 값이 있네요" % (mid + 1))
        find  = 1
        break
    elif dat[mid] < key :
        start = mid +1
        print("오른쪽 검색")
    else:
        end = mid 
        print("왼쪽 검색")
        
if find == 0:
    print("입력하신 값이 존재하지 않습니다")

찾고자하는 숫자를 입력하시오  5
왼쪽 검색
왼쪽 검색
왼쪽 검색
왼쪽 검색
입력하신 값이 존재하지 않습니다

In [135]:
dat=[10,20,30,40,50,60,70,80,90]
key = int(input("찾고자하는 숫자를 입력하시오  "))
start = 0
end = len(dat) 
find = 0
mid = 0

while start < end :
    mid =  int((start + end) / 2)
    if dat[mid] == key:
        print("%d 번째에 값이 있네요" % (mid + 1))
        find  = 1
        break
    elif dat[mid] < key :
        start = mid +1
        print("오른쪽 검색")
    else:
        end = mid 
        print("왼쪽 검색")
        
if find == 0:
    print("입력하신 값이 존재하지 않습니다")

찾고자하는 숫자를 입력하시오  44
왼쪽 검색
오른쪽 검색
오른쪽 검색
입력하신 값이 존재하지 않습니다

In [24]:
#두 과목 점수를 입력받아 평균이 60점이상이면 각 과목이 40점 이상이면 " 합격"
# 불합격이면 과락된 과목을 출력하시오

val1 = int(input("첫 번째 과목 점수를 입력하시오 : "))
val2 = int(input("두 번째 과목 점수를 입력하시오 : "))

mean = (val1 + val2) /2

if mean >= 60 and val1 >=40 and val2 >=40 :
    print("합격")
    
elif val1 <40 :
    print("첫번째 과목이 과락입니다.")
elif val2 <40 :
    print("두번째 과목이 과락입니다.")

첫 번째 과목 점수를 입력하시오 : 2
두 번째 과목 점수를 입력하시오 : 2
첫번째 과목이 과락입니다.

In [27]:
dat=[1,2,3,4,5,6,7,8]
x = dat.pop()
print(dat)

[1, 2, 3, 4, 5, 6, 7]

In [36]:
val = input("'-' 없이 주민번호 13자리를 입력하시오 : ")

if val[6] == "1" or val[6] == "3":
    print("남자")
else :
    print("여자")

'-' 없이 주민번호 13자리를 입력하시오 : 7302011448939
남자

In [45]:
sum = 0
s = 0
e = 11
for i in range(s,e,2):
    sum = sum + i
    print(i)
print("%d부터 %d까지 짝수의 합은 %d : " % (s,e,sum))

0
2
4
6
8
10
0부터 11까지 짝수의 합은 30 :

In [86]:
for i in range(1,10):
    for j in range(1,10):
        print("%2d x%2d =%2d" % (j,i,i*j), end = "  ")
        
    print("\n")

 1 x 1 = 1   2 x 1 = 2   3 x 1 = 3   4 x 1 = 4   5 x 1 = 5   6 x 1 = 6   7 x 1 = 7   8 x 1 = 8   9 x 1 = 9

 1 x 2 = 2   2 x 2 = 4   3 x 2 = 6   4 x 2 = 8   5 x 2 =10   6 x 2 =12   7 x 2 =14   8 x 2 =16   9 x 2 =18

 1 x 3 = 3   2 x 3 = 6   3 x 3 = 9   4 x 3 =12   5 x 3 =15   6 x 3 =18   7 x 3 =21   8 x 3 =24   9 x 3 =27

 1 x 4 = 4   2 x 4 = 8   3 x 4 =12   4 x 4 =16   5 x 4 =20   6 x 4 =24   7 x 4 =28   8 x 4 =32   9 x 4 =36

 1 x 5 = 5   2 x 5 =10   3 x 5 =15   4 x 5 =20   5 x 5 =25   6 x 5 =30   7 x 5 =35   8 x 5 =40   9 x 5 =45

 1 x 6 = 6   2 x 6 =12   3 x 6 =18   4 x 6 =24   5 x 6 =30   6 x 6 =36   7 x 6 =42   8 x 6 =48   9 x 6 =54

 1 x 7 = 7   2 x 7 =14   3 x 7 =21   4 x 7 =28   5 x 7 =35   6 x 7 =42   7 x 7 =49   8 x 7 =56   9 x 7 =63

 1 x 8 = 8   2 x 8 =16   3 x 8 =24   4 x 8 =32   5 x 8 =40   6 x 8 =48   7 x 8 =56   8 x 8 =64   9 x 8 =72

 1 x 9 = 9   2 x 9 =18   3 x 9 =27   4 x 9 =36   5 x 9 =45   6 x 9 =54   7 x 9 =63   8 x 9 =72   9 x 9 =81

In [3]:
x = int(input(" 숫자를 입력하시오 :"))
x = x + 1
sp = " "
for i in range(1,x):
    for k in range(i,x):
        print(sp, end = " ")
        
    for k in range(i, 1, -1):
        print(k, end = " ")
    
    for k in range(1,i+1):
        print(k, end = " ")
    
    for k in range(i,x):
        print(sp, end =" ")
    print("\n")

 숫자를 입력하시오 :8
                1

              2 1 2

            3 2 1 2 3

          4 3 2 1 2 3 4

        5 4 3 2 1 2 3 4 5

      6 5 4 3 2 1 2 3 4 5 6

    7 6 5 4 3 2 1 2 3 4 5 6 7

  8 7 6 5 4 3 2 1 2 3 4 5 6 7 8

In [5]:
score = [1,2,3,4,5]
val1 = score
val2 = list(score)
score[0] = 100
print(val1)
print(val2)

[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [8]:
"abc"[-1]*3

'ccc'

In [9]:
a,b,c="xyz"
print(a,b,c)

x y z

In [12]:
dic = {'a': 1, 'b':2, 'c':3}
for k in dic:
    print(k,dic[k])

a 1
b 2
c 3

In [14]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
    print()
    
print_n_times(5,1,2,3,4,5)

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5

In [15]:
for k in "abc":
    print(k)

a
b
c

In [140]:
import numpy as np

a= [123,456]
b = np.array(a)*2
print(b)

[246 912]

In [168]:
a= [n * 5 for n in range(10)]
print(a)
a= [n  for n in range(10) if n%2 ==0]
print(a)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 2, 4, 6, 8]

In [177]:
i,j,k =1,2,3
print(i,j,k)

1 2 3

In [6]:
for i  in "1234567":
    print(i, end=" ")

tes = {'a':1, 'b':2, 'c':3}

for key in tes:
    print(key, tes[key])

1 2 3 4 5 6 7 a 1
b 2
c 3

In [9]:
t1 = 1, 'two', 3
t2= t1, 3.25
print((t1+t2)[2:5])

(3, (1, 'two', 3), 3.25)

In [26]:
data = [10,20,30,40,50,60,70,80,90]
key = int(input("찾고자하는 숫자를 입력하시오  "))
if key in data:
    print("입력하신 값은 %d 번째에 있습니다" % (data.index(key)+1))
else :
    print("입력하신 값이 없습니다.")

찾고자하는 숫자를 입력하시오  40
입력하신 값은 4 번째에 있습니다